.DS_Store
MetaWeatherBold/MetaWeatherBold.xcodeproj/project.xcworkspace/xcuserdata/javiersusa.xcuserdatad
MetaWeatherBold/MetaWeatherBold.xcodeproj/xcuserdata/javiersusa.xcuserdatad/xcschemes
MetaWeatherBold/MetaWeatherBold.xcworkspace/xcuserdata/javiersusa.xcuserdatad
MetaWeatherBold/Pods
